@import url('https://fonts.googleapis.com/css?family=Quicksand|Lobster|Montserrat|Raleway');
@mixin base {
  html,
  body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    margin: 0;
  }
}

@mixin gallery-button {
  /* 
        This here removes the inner firefox focus box/outline.
      */
  button::-moz-focus-inner {
    border: 0;
  }
  .view-gallery {
    cursor: pointer;
    background: $white;
    border: 1px solid $outrageous-orange;
    background-color: linear-gradient(to left, transparent, transparent 50%, $outrageous-orange 50%, $outrageous-orange);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.5s ease-in;
    color: $outrageous-orange;
    font-size: 1.1em;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    &:hover {
      background: $outrageous-orange;
      background-position: 10% 0;
      color: $white;
    }
  }
}

@mixin gallery-image {
  padding: 20px;
  border: 2px solid $isabelline;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  max-width: 30rem;
}