// DEFAULT COLORS
$theme-color: #06d6a0;
$txt-color: #FFFDF7;
$secondary-color: #0A2342;
$ternary-color: #84BC9C;
$body-theme-color: #F46197;
$other-color: #004E64;
$button-color: #06BA63;
$button-hover-color: #06c669;
$list-feel: #e6fef8;
// DEFAULT FONTS
$general-font: "Montserrat",
sans-serif;
$heading-font: "Quicksand",
sans-serif;