// DEFAULT COLORS
$theme-color: #06D6A0;
$txt-color: #FFFDF7;
$secondary-color: #0A2342;
$ternary-color: #84BC9C;
$body-theme-color: #F46197;
// DEFAULT FONTS
$heading-font: "Raleway",
sans-serif;
$txt-font: "Quicksand",
sans-serif;