@import "Partials/variables";
@mixin base {
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  html,
  body {
    /* 
      Had to add 100% height to both html/body and container for the grid rows to be responsive
     */
    box-sizing: border-box;
    background-color: $main_theme;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    padding: 10px;
    .container {
      height: 100%;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: $main_theme;
      }
    }
  }
}

@mixin grid_base_color_scheme {
  div {
    &:nth-child(1n) {
      background-color: $secondary_theme;
    }
    &:nth-child(3n) {
      background-color: $pop_theme;
    }
    &:nth-child(2n) {
      background-color: $tertiary_theme;
    }
    &:nth-child(4n) {
      background-color: $splash_theme;
    }
  }
}

@mixin mockup_color_scheme {
  div {
    &:nth-child(1n) {
      background-color: $pop_theme;
    }
    &:nth-child(3n) {
      background-color: $secondary_theme;
    }
    &:nth-child(2n) {
      background-color: $tertiary_theme;
    }
    &:nth-child(4n) {
      background-color: $splash_theme;
    }
  }
}