// IMPORTING VARIABLES
@import "Partials/variables";
// IMPORTING MIXINS
@import "Partials/mixins";
// We could also import in one line.
// @import "Partials/variables", "Partials/mixins";
// NORMAL CSS IMPORTS. CSS CAN ALREADY DO THIS. 
// @import url();
// @import "http://";
// @import "filename.css";
// @import "style-screen" screen;
// DECLARATION
// We can declare a mixin globally.
@include google-font("Nanum+Gothic");
@include google-font("Ubuntu");
@include fancy-links;
body {
    font-family: $text-font;
    color: $text-color;
}

h1,
h2,
h3,
h4 {
    font-family: $headline-font;
}

h2 {
    // Adding large text mixin to the h2 element.
    @include large-text;
}

p {
    font-family: $text-font;
}

a {
    color: $link-color;
}

//  Button element to add our mixin to.
.warning-button {
    // Including our mixin.
    @include warning;
    padding: 8px 12px; // Top and bottom...left and right.
}

// Including our browser specific mixin.
@include apply-to-ie-6 {
    body {
        font-size: 125%;
    }
}

#header {
    /* 
        We can now add as many shadow arguments as we need because of
         how we set up our box-shadow mixin parameters 
    */
    @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
    /* 
        Below we could leave this box mixin without a default because
        we have already set them.

        However say you wanted to update a either the radius or the
        border. To target the right parameter we would have to
        explicitly declare the parameter. So as to not trip them up.

        The advantage to the explicit declaration is that we dont
        have to worry about the order of the default. So we can begin
        with the border then declare the radius after.
    */
    @include box($border: 11px solid #cccc);
    height: $header-height;
    background-color: $theme-color;
    #main-menu {
        li {
            display: inline;
        }
        a {
            text-decoration: underline;
            color: $menu-item-color;
        }
    }
    #logo {
        font-style: inherit;
    }
}

#main {
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
    #content {
        font-style: inherit;
    }
    #sidebar {
        ul {
            list-style-type: none;
        }
    }
}

#footer {
    height: $footer-height;
    background: $ternary-color;
}