// IMPORTING VARIABLES
@import "variables";
// IMPORTING MIXINS
@import "mixins";
// DECLARATION
// We can declare a mixin globally.
@include fancy-links;
body {
    font-family: sans-serif;
    color: $text-color;
}

h1,
h2,
h3,
h4 {
    font-family: $headline-font;
}

h2 {
    // Adding large text mixin to the h2 element.
    @include large-text;
}

p {
    font-family: $text-font;
}

a {
    color: $link-color;
}

//  Button element to add our mixin to.
.warning-button {
    // Including our mixin.
    @include warning;
    padding: 8px 12px; // Top and bottom...left and right.
}

#header {
    @include box;
    height: $header-height;
    background-color: $theme-color;
    #main-menu {
        li {
            display: inline;
        }
        a {
            text-decoration: underline;
            color: $menu-item-color;
        }
    }
    #logo {
        font-style: inherit;
    }
}

#main {
    width: $content-width;
    margin-left: auto;
    margin-right: auto;
    #content {
        font-style: inherit;
    }
    #sidebar {
        ul {
            list-style-type: none;
        }
    }
}

#footer {
    height: $footer-height;
    background: $ternary-color;
}