@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body {
  background-color: #EFD9CE;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  .container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 50px;
    grid-gap: 3px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      color: #EFD9CE;
      &:nth-child(1n) {
        background-color: #A675A1;
      }
      &:nth-child(3n) {
        background-color: #25283D;
      }
      &:nth-child(2n) {
        background-color: #8F3985;
      }
      &:nth-child(4n) {
        background-color: #CEA2AC;
      }
    }
  }
}