@import "Partials/variables";
@import "Partials/mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@include wes-base;
body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

button {
  background: $yellow;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.container {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  grid-gap: 15px;
  grid-template-areas: "hero hero cta1" "hero hero cta2";
  .hero {
    grid-area: hero;
    min-height: 400px;
    background: white url(https://bzfd.it/2MUekaV);
    background-size: cover;
    background-position: center right;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    >* {
      background: $yellow;
      padding: 15px;
    }
  }
  .cta {
    background: $yellow;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center; // text-align: center;
    p {
      margin: 0;
    }
  }
  .price {
    font-size: 60px;
    font-weight: 300;
  }
  .cta1 {
    grid-area: cta1;
  }
  .cta2 {
    grid-area: cta2;
  }
}

/* Navigation */

.menu {
  // The box brace is an attribute selector in Css.
  [aria-controls="menu-list"] {
    display: none;
  }
  ul {
    display: grid;
    grid-gap: 10px;
    padding: 0; // margin: 20px 0; // Going to add a grid gap to overall wrapper
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    a {
      background: $yellow;
      display: block;
      text-decoration: none;
      padding: 10px;
      text-align: center;
      color: $black;
      text-transform: uppercase;
      font-size: 20px;
    }
  }
}

/* Features */

.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  .feature {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    .icon {
      font-size: 50px;
    }
    .p {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.about {
  margin: auto;
  background: #ffffff;
  padding: 50px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.gallery {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  h2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto 1fr;
    grid-column: 1/ -1;
    align-items: center;
    &:before,
    &:after {
      display: block;
      content: '';
      height: 10px;
      background: $yellow;
      /* 
        We use var(--attribute) to declare values in plain Css 
        
        Whereby we can define the variables like

        :root {
          --attribute: value; 
        }

        Then call it wherever we want it as var(--attribute)
      */
      background: linear-gradient(to var(--direction, left), $yellow, transparent);
    }
    &:after {
      --direction: right;
    }
  }
  img {
    width: 100%;
  }
  .horizontal {
    grid-column: span 2;
  }
  .vertical {
    grid-row: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

/* Responsiveness */

@media (max-width: 1000px) {
  .menu {
    /* This will take the menu the first div on the page. */
    order: -1; // Messing with the menu-list.
    perspective: 800px;
    ul {
      max-height: 0;
      overflow: hidden;
      transform: rotateX(90deg);
      transition: all 0.5s;
    }
    [aria-controls="menu-list"] {
      display: block;
      margin-bottom: 10px;
    }
    /* 
      Below means that when the aria-expanded is true do this to the
      sibling ul.
    */
    [aria-expanded="true"]~ul {
      display: grid;
      max-height: 500px;
      transform: rotateX(0);
    }
    [aria-expanded="false"] .close {
      display: none;
    }
    [aria-expanded="true"] .close {
      display: inline;
    }
    [aria-expanded="true"] .open {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .top {
    grid-template-areas: "hero hero" "cta1 cta2";
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas: "hero" "cta1" "cta2";
  }
  .about {
    grid-template-columns: 1fr;
  }
}

/* Testing toggling display with vanilla Js */

.em .em-musical_note {
  display: block;
}

.em .em-musical_note .show {
  display: none;
}