@import "Partials/variables";
@import "Partials/mixins";
@include base;
.container {
  display: grid;
  grid-template: repeat(2, 60px) / repeat(2, 1fr);
  grid-gap: 5px;
  div {
    &:nth-child(1n) {
      background-color: $pop_theme;
    }
    &:nth-child(3n) {
      background-color: $secondary_theme;
    }
    &:nth-child(2n) {
      background-color: $tertiary_theme;
    }
    &:nth-child(4n) {
      background-color: $splash_theme;
    }
  }
}