@import "Partials/variables";
@import "Partials/mixins";
@include base;
.container {
  height: calc(100vh - 100px);
}

.banner {
  display: grid;
  background: url("../assets/backgrounds/landing.jpg") no-repeat;
  background-size: cover;
  background-position: bottom left;
  /* 
    Note that to center both the text and the icon we use
    1. Justify items to center horizontally 
      - We use justify-items instead of justify-content so that
      we dont mess up centering when we increase the txt size.
    2. Align content.
      - We use align-content instead of align-items here so that we do no have a lot space between icon and text.
  */
  justify-items: center;
  align-content: center;
  /* 
    Allows background image to cove whole landing area without extra 100px margin bottom.
  */
  width: 100%;
  height: calc(100vh - 100px);
  svg {
    fill: $white;
    position: absolute;
    right: 89%;
    bottom: 90%;
  }
  .banner-text {
    font-size: 30px;
    color: $white;
  }
}

.food-time {
  display: grid;
  background-color: $mauve;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  .time {
    display: grid;
    background-color: $pale-goldenrod;
    .happy {
      background-color: $white;
      text-align: center;
      padding-top: 10%;
    }
    .party {
      background-color: $outrageous-orange;
      text-align: center;
      padding-top: 10%;
      color: $white;
    }
  } // Meet object-fit --> Cover or fill.
  .breakfast {
    width: 100%;
    object-fit: cover;
  }
  .lunch {
    width: 100%;
    object-fit: cover;
  }
  .dinner {
    width: 100%;
    object-fit: cover;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // background-color: $pastel-magenta;
  .food-images {
    display: grid;
    padding: 50px;
    justify-content: end;
    .fastFood {
      padding: 20px;
      border: 2px solid $isabelline;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
      width: 100%;
      .f-food {
        // Removes the space between the images
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  .text-col {
    display: grid;
    text-align: start;
    margin-top: 10%;
    margin-left: 10%;
    align-content: start;
    width: 100%;
    .food-text {
      margin-right: 30%;
      /* 
        This here removes the inner firefox focus box/outline.
      */
      button::-moz-focus-inner {
        border: 0;
      }
      .view-gallery {
        cursor: pointer;
        background: $white;
        border: 1px solid $outrageous-orange;
        background-color: linear-gradient(to left, transparent, transparent 50%, $outrageous-orange 50%, $outrageous-orange);
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all 0.5s ease-in;
        color: $outrageous-orange;
        font-size: 1.1em;
        padding: 10px;
        font-family: "Montserrat", sans-serif;
        &:hover {
          background: $outrageous-orange;
          background-position: 10% 0;
          color: $white;
        }
      }
    }
  }
  .drinks-images {
    background-color: $verdigris;
  }
  .drinks-text {
    background-color: $glossy-grape;
  }
}

.yummy {
  display: grid;
  background-color: $pale-goldenrod;
  padding: 10px;
  .tabs {
    display: grid;
    text-align: center;
    vertical-align: text-bottom;
    background-color: $white;
    grid-template-columns: repeat(4, 1fr);
    .yum {
      border: 1px solid $isabelline;
    }
  }
  .menu-images {
    display: grid;
    text-align: center;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.testimonials {
  display: grid;
  background-color: $isabelline;
  border: 1px solid $pale-silver;
  padding: 40px;
  .testimony {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $white;
    grid-gap: 7px;
    padding: 10px;
    text-align: center;
    .customers {
      display: grid;
      grid-column: 1 / span 2;
      border-right: 1px solid $pale-silver;
      .profiles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      }
    }
    .about {
      padding: 10px;
      margin-left: 15px;
      grid-column: span 1;
    }
  }
}

.holla {
  display: grid;
  background-color: $verdigris;
}

.footer {
  display: grid;
  background-color: $magnolia;
}